body {
}
.modal2 {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #000000;
    margin: auto;
    padding: 0;
    width: 90%;
    opacity: 0.8;
}

    .modal2.one {
        transform: scaleY(.01) scaleX(0) translate(-50%, -50%);
        animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

        .modal2.one > .modal_content {
            transform: scale(0);
            animation: zoomIn 0.9s 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }

    .modal2.out {
        transform: scale(1) translate(-50%, -50%);
        animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

        .modal2.out > .modal_content {
            animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }

.modal_content {
    font-family: "Roboto",sans-serif;
    padding: 1.5rem 2rem;
}

    .modal_content > h1 {
        margin: auto;
        color: #A53F5B;
        text-transform: uppercase;
        /* font-size: xx-large;*/ 
        font-size: small;
    }

    .modal_content > p {
        margin: auto;
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        /* font-size: x-large;*/
        font-size: small;
        font-family: "Helvetica", Arial, sans-serif;
    }

    .modal_content > a {
    }

.link {
    position: relative;
    display: inline-block;
    padding: 0 40px 15px 0;
    font-family: "RobotoMono",sans-serif;
    /* font-size: x-large;*/ 
    font-size: small;
    letter-spacing: 1px;
    color: #F9A000;
    text-decoration: none;
    overflow: hidden;
    width: 30%;
}

    .link::after {
        content: " ";
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(200%);
        height: 2px;
        background-image: linear-gradient(to right, #302144, #592651 20%, #A53F5B 40%, #EF5966 60%, #F47C33 80%, #F9A000);
        background-repeat: repeat-x;
        background-size: calc(50%) 100%;
        transform: scaleY(1) translateX(0);
        transform-origin: 50% 100%;
        transition: transform 0.35s cubic-bezier(0.42, 0, 0.05, 0.99), -webkit-transform 0.35s cubic-bezier(0.42, 0, 0.05, 0.99), -o-transform 0.35s cubic-bezier(0.42, 0, 0.05, 0.99);
    }

    .link > div {
        display: flex;
        text-align: center;
        width: 100%;
    }
/*Example
.modal2 {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fefefeef;
    margin: auto;
    padding: 0;
    width: 90%;
}

.modal2.one {
    transform: scaleY(.01) scaleX(0) translate(-50%, -50%);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal2.one > .modal_content {
    transform: scale(0);
    animation: zoomIn 0.9s 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal2.out {
    transform: scale(1) translate(-50%, -50%);
    animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal2.out > .modal_content {
    animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal_content {
    font-family: "Roboto",sans-serif;
    font: bold;
    padding: 1.5rem 2rem;
}

.modal_content > h1 {
    margin: auto;
    color: #A53F5B;
    text-transform: uppercase;
    font-size: xx-large;
}

.modal_content > p {
    margin: auto;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: x-large;
    font-family: "Helvetica", Arial, sans-serif;
}

.modal_content > a {
}

.link {
    position: relative;
    display: inline-block;
    padding: 0 40px 15px 0;
    font-family: "RobotoMono",sans-serif;
    font-size: x-large;
    letter-spacing: 1px;
    color: #302144;
    text-decoration: none;
    overflow: hidden;
    width: 30%;
}

.link::after {
        content: " ";
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(200%);
        height: 2px;
        background-image: linear-gradient(to right, #302144, #592651 20%, #A53F5B 40%, #EF5966 60%, #F47C33 80%, #F9A000);
        background-repeat: repeat-x;
        background-size: calc(50%) 100%;
        transform: scaleY(1) translateX(0);
        transform-origin: 50% 100%;
        transition: transform 0.35s cubic-bezier(0.42, 0, 0.05, 0.99), -webkit-transform 0.35s cubic-bezier(0.42, 0, 0.05, 0.99), -o-transform 0.35s cubic-bezier(0.42, 0, 0.05, 0.99);
}

.link > div {
        display: flex;
        text-align: center;
        width: 100%;
}
*/